# Mac
.DS_Store

*.o
*.bin
*~

bin/**
src/generate_make.sh
gamer
GAMER_CompareData
GAMER_ExtractUniform
GAMER_ExtractProfile
.vscode
src/Makefile
src/Makefile.log
src/.local_settings

.idea/
configs
envDCU.sh
envGPU.sh

MUSIC

include/Typedef.h
src/TestProblem/**
src/Init/Init_TestProb.cpp

configs

env.sh
gamer_MHDcosmology.bundle
note